<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>user: <%= current_user.email %></li>
        <li><%= link_to 'users', users_path %></li>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
